<div class="card shadow-sm" style="width: 80%">
    
    <img class="bd-placeholder-img card-img-top" width="20%" src='{{"assets/images/" + livro.Id + ".jpg"}}' alt="" >
    
    <div class=" card-body">
        <p class="card-text">{{"Id: " + livro.Id}}</p>
        <p class="card-text">{{"Nome: " + livro.Name}}</p>
        <p class="card-text">{{"Preço: R$ " + livro.Price}}</p>
        <p class="card-text">{{"Categoria: " + livro.Category}}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-primary">Detalhes</button>
        </div>
    </div>
</div>